<!-- Product card snippet-->

  <div class="product-card">
    <a href="{{ product.url }}">
      <img src="{{ product | image_url: width: 400 }}"/>
      <div class="product-text">
        <p>{{ product.title }}</p>
        <div class="compare-price">
          <p class="compare">{{ product.compare_at_price | money }}</p>
          <p class="price">{{ product.price | money }}</p>
        </div>
      </div>
    </a>

      {% form 'product', product %}
      
        <select class="select" name="id">
          {% for variant in product.variants %}
            <option value={{ variant.id }}>
              {{ variant.title }}
            </option>
          {% endfor %}
        </select>

        <button type="submit">Add to cart</button>
      {% endform %}
      
  </div>