<header class="header">

  <!-- Upper / top navigation -->
  <div class="upper-navigation">
  </div>

  <!-- Primary navigation -->
  <div class="primary-navigation-wrapper">
    <div class="container">
      <!-- Primary navigation wrapper -->
      <div class="primary-navigation">

        <div class="logo-and-links">
          <!-- Logo-->
          <a href="/"><img src="{{ 'logo.svg' | asset_url }}"></a>
          <!-- Main menu links -->
          <ul class="main-menu-links">
            {% for link in linklists.main-menu.links -%}
              <li>{{ link.title | link_to: link.url }}</li>
            {%- endfor %}
          </ul>
        </div>
        
        <!-- Other items -->
        <div class="main-ui-links">

          <div class="search-dropdown">
            <button class="icon-search"><a href="/search"><img class="icon-search" src="{{ 'search.png' | asset_url }}" /></a></button>
          </div>

          <a href="/cart">
            <img class="icon-cart" src="{{ 'shopping-bag.png' | asset_url }}">
            {% if cart.item_count > 0 %}
              <span class="cart-number">{{ cart.item_count }}</span>
            {% endif %}
          </a>
        </div>


      </div>
    </div>
  </div>

</header>

{% schema %}
  {
    "name": "Header"
  }
{% endschema %}