{% paginate blog.articles by 20 %}

<div class="hero-banner container">
  <h1>{{ blog.title }}</h1>
</div>

<div class="blog-posts-wrapper container">
  {% for article in blog.articles %}
    <div class="blog-post">
      <a href="{{ article.url }}">
        <img src="{{ article | image_url: width: 400 }}" />
        <div class="blog-text">
          <h4>{{ article.title }}</h4>
          <p>{{ article.excerpt }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

  {{ paginate | default_pagination }}
{% endpaginate %}