<!-- Hero image -->
<section class="hero-image">
  <div class="hero-text">
    <h1>Lorem ipsum dolor <br /> sit amet.</h1>
    <button><a href="/collections/all">Shop Now</a></button>
  </div>
</section>

<!-- Featured collection -->
<section class="featured-collection container">
  <!-- Title -->
  <div class="collection-intro">
    <h2>{{ collections{{['frontpage'].title}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit, libero nec viverra porttitor.</p>
  </div>
  <div class="collection-wrapper">
    <!-- Define product collection -->
    {% for product in collections['frontpage'].products %}
      <!-- Mark-up for each product, looped through -->
      {% render 'product-item', product: product %}
    {% endfor %}
  </div>
</section>

<!-- Highlighted section -->
<section class="highlighted-section">
  <div class="highlighted-text">
    <h2>Consectetur Adipiscing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button><a href="/blogs/news">Read more</a></button>
  </div>
</section>

<!-- Highlighted section -->
<section class="featured-categories container">
  <div class="categories-text">
    <h2>Featured Categories</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="categories-cards">
    <a href="/collections/cosmetics">
      <img src="{{ 'makeup.jpeg' | asset_url }}">
      <p>Cosmetics</p>
    </a>
    <a href="/collections/cosmetics">
      <img src="{{ 'lipstick.jpeg' | asset_url }}">
      <p>Lipstick</p>
    </a>
    <a href="/collections/cosmetics">
      <img src="{{ 'bath.jpeg' | asset_url }}">
      <p>Bath Products</p>
    </a>
    <a href="/collections/cosmetics">
      <img src="{{ 'treatments.jpeg' | asset_url }}">
      <p>Treatments</p>
    </a>
  </div>
</section>